<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.task.mapper.ScheduleTaskMapper">
    <resultMap id="task" type="com.zj.entities.task.entity.ScheduleTaskEntity">
        <id column="id" property="id" javaType="String" jdbcType="VARCHAR" />
        <result property="name" column="name" jdbcType="VARCHAR" javaType="String" />
        <result property="executeTime" column="execute_time" javaType="String" jdbcType="VARCHAR" />
        <result property="type" column="type" jdbcType="TINYINT" javaType="Integer" />
        <result property="taskId" column="task_id" javaType="Integer" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getAllTask" resultMap="task">
        select * from schedule_task;
    </select>


    <select id="getTaskById" parameterType="String" resultMap="task">
        select * from schedule_task where id = #{id}
    </select>
    
    <insert id="addTask" parameterType="ScheduleTaskEntity">

    </insert>
</mapper>