<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.task.mapper.ScheduleTaskMapper">
    <resultMap id="task" type="com.zj.entities.task.entity.ScheduleTaskEntity">
        <id column="id" property="id" javaType="String" jdbcType="VARCHAR" />
        <result property="name" column="name" jdbcType="VARCHAR" javaType="String" />
        <result property="executeTime" column="execute_time" javaType="String" jdbcType="VARCHAR" />
        <result property="type" column="type" jdbcType="TINYINT" javaType="Integer" />
        <result property="taskId" column="task_id" javaType="Integer" jdbcType="INTEGER"/>
    </resultMap>


    <sql id="where">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                name like concat('%',#{name},'%')
            </if>
            <if test="taskId != null">
                task_id = #{taskId}
            </if>
            <if test="type != null" >
                type = #{type}
            </if>
        </where>
    </sql>
    <select id="getAllTask" resultMap="task">
        select * from schedule_task;
    </select>


    <select id="getTaskById" parameterType="String" resultMap="task">
        select * from schedule_task where id = #{id}
    </select>
    
    <insert id="addTask" parameterType="com.zj.entities.task.entity.ScheduleTaskEntity">
        insert into schedule_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="param != null">
                param
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="taskId != null">
                #{taskId},
            </if>
            <if test="param != null">
                #{param}
            </if>
        </trim>
    </insert>


    <select id="getTaskCount" parameterType="com.zj.entities.task.entity.ScheduleTaskEntity" resultType="integer">
        select COUNT(*)
        from schedule_task
        <include refid="where" />
    </select>
    <select id="getTaskListForLimit" parameterType="com.zj.entities.task.entity.ScheduleTaskEntity" resultMap="task" >
        select *
        from schedule_task
        <include refid="where" />
        limit #{page},#{pageSize}
    </select>
</mapper>